* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(arka.jpg);
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 40px;
  background: #0b4060;
}
.orta h1 {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  line-height: 1.5;
}
hr {
  margin-left: 420px;
  width: 40%;
  text-align: center;
  color: #f9b795;
}
.orta h1 {
  color: black;
  animation-name: renklendir;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 5px 3px 10px black;
}
@keyframes renklendir {
  from {
    color: #12547a;
  }
  to {
    color: #fee4b6;
  }
}
.orta p {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 30px;
  color: #0c4c73;
}
